{% extends 'User/userbase.html' %}
{% load static %}
{% block content %}

<body  style="background-image:url({% static 'assets/images/book1.jpg' %});background-repeat: no-repeat;
  background-attachment: fixed;  background-size: cover;">
<table class="table table-success table-striped" style="width:1250px; margin-left: auto; margin-right: auto;" >
    <thead>

    <tr>
        <th>Sl.No</th>
        <th>Book Name</th>
        <th>Book Author</th>
        <th>Price</th>
        <th>Book Quantity</th>
         <th>Action</th>

    </tr>
    </thead>
    <tbody>

    {%  for book in page %}
    <tr>

        <th scope="row">{{forloop.counter}}</th><br>
        <td>{{ book.title }}</td>
        <td>{{book.author}}</td>
        <td>Rs.{{ book.price }}</td>
        <td>{{book.quantity}}</td>


        <td><a href="{% url 'userdetails' book.id %}" class="btn btn-secondary">Details</a>
        <td><a href="{% url 'addtocart' book.id %}" class="btn btn-secondary">Add to cart</a></td>
    </tr>
    {%  endfor %}

    </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination">
      {% if page.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{page.previous_page_number}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
         {% endif %}
      {% for num in page.paginator.page_range %}
    <li class="page-item {% if page.number == num%}activate {% endif%}" >
        <a class="page-link" href="?page{{num}}">{{num}}</a>
    </li>

      {%  endfor %}
       {% if page.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{page.next_page_number}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
      {% endif %}
  </ul>
</nav>
{% endblock %}
</body>